page-tutorial {
  .toolbar-background {
    background: #FBF13A;
    border-color: black;
    opacity: 0.75
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    background: #fbf13a;
    opacity: 0.75;
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: black;

    b {
      color: #000000;
    }
  }
  ion-content {
    background: url('../assets/img/background-wave.png') no-repeat center/cover fixed;
  }

}


.continue-button {
  background: #fbf13a;
  color: black;
}